.section-title {
	padding: 0 15px;
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
}
.sec-padding {
	padding: 80px 0;
}
.section-title h2 {
	font-size: 40px;
	text-transform: capitalize;
}

.about-image {
	width: 40%;
	padding: 0 15px;
}
.about-text {
	width: 60%;
	padding: 0 15px;
}
.about-image .image-box {
	background-color: var(--white-alpha-25);
	max-width: 360px;
	border: 1px solid var(--white-alpha-40);
	margin: auto;
	border-radius: 10px;
}

.about-image .image-box img {
	width: 100%;
}
.about-text h3 {
	text-transform: capitalize;
	font-size: 20px;
	margin: 20px 0;
}
.about-text .skills {
	display: flex;
	flex-wrap: wrap;
}
.about-text .skill-item {
	background-color: var(--white-alpha-25);
	border: 1px solid var(--white-alpha-40);
	padding: 5px 15px;
	text-transform: capitalize;
	margin: 0 10px 10px 0;
	border-radius: 10px;
}

.about-tabs {
	margin-top: 20px;
}
.about-tabs .tab-item {
	padding: 2px 0;
	background-color: transparent;
	border: none;
	text-transform: capitalize;
	display: inline-block;
	color: var(--dark-blue);
	font-size: 20px;
	cursor: pointer;
	font-weight: 500;
	margin: 0 30px 0 0;
	position: relative;
	opacity: 0.5;
	transition: all 0.3s ease;
}
.about-tabs .tab-item::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0%;
	height: 1%;
	background-color: var(--dark-blue);
	transition: width 0.3s ease;
}

.about-tabs .tab-item:hover::before {
	width: 100%;
}

.about-tabs .tab-item.active::before {
	width: 100%;
	background-color: var(--main-color);
}

.about-tabs .tab-item.active {
	color: var(--main-color);
	opacity: 1;
	cursor: auto;
}

.about-text .timeline {
	position: relative;
}

.about-text .timeline::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 1px;
	top: 0;
	left: 5px;
	background-color: var(--main-color);
}
.about-text .tab-content {
	padding: 40px 0;
	display: none;
}
.about-text .tab-content.active {
	display: block;
}
.about-text .timeline-item {
	margin-bottom: 30px;
	position: relative;
	padding: 11px 0 0 40px;
}

.about-text .timeline-item::before {
	content: '';
	position: absolute;
	height: 11px;
	width: 11px;
	top: 16px;
	left: 0;
	background-color: var(--main-color);
	border-radius: 50%;
}

.about-text .timeline-item:last-child {
	margin-bottom: 0;
}
.about-text .timeline-item .date {
	display: block;
	color: var(--main-color);
	font-weight: 400;
	margin: 0 0 10px;
}

.about-text .timeline-item h4 {
	font-size: 18px;
	text-transform: capitalize;
	margin: 0 0 10px;
}

.about-text .timeline-item h4 span {
	font-weight: 400;
}

.about-text .btn {
	margin: 0 15px 15px 0;
}
