.home-section {
	display: flex;
	padding: 120px 0px;
}

.home-text,
.home-image {
	width: 50%;
	padding: 15px;
}

.home-text .btn {
	margin: 0 15px 15px 0;
}

.home-text p {
	font-size: 18px;
}
.home-text h1 {
	font-size: 50px;
	text-transform: capitalize;
}
.home-text h2 {
	font-size: 20px;
	text-transform: capitalize;
	font-weight: 300;
	margin: 0 0 30px;
}

.home-image .image-box {
	max-width: 360px;
	background-color: var(--white-alpha-25);
	border-radius: 50%;
	border: 5px solid var(--white-alpha-40);
	margin: auto;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.home-image .image-box img {
	width: 100%;
	border-radius: 50%;
}
