/* -------------
Google Fonts
---------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* -------------
Color Variables
---------------- */
:root {
	--main-color: #e02f6b;
	--blue: #1d4ed8;
	--dark-blue: #18293c;
	--orange: #ffa500;
	--green-yello: #cddc39;
	--pink-light: #efa2b4;
	--cyan-light: #aef1ee;
	--white: #ffffff;
	--white-alpha-40: rgba(255, 255, 255, 0.4);
	--white-alpha-25: rgba(255, 255, 255, 0.25);
	--white-alpha-50: rgba(255, 255, 255, 0.5);
	--white-alpha-65: rgba(255, 255, 255, 0.65);
	--backdrop-filter-blur: blur(5px);
}

/* -------------
Global Setting
---------------- */
*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

/* -------------
Main CSS
---------------- */

body {
	min-height: 100vh;
	background-image: linear-gradient(to bottom right, #efa2b4, #aef1ee);
	background-attachment: fixed;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	font-weight: 300px;
	line-height: 1.5;
	overflow-x: hidden;
	-webkit-top-highlight-color: tranparent;
	padding: 35px 15px;
	user-select: none;
}

body::before {
	content: '';
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: 0.12;
}

h1,
h2 {
	font-weight: 600;
}
h3,
h4,
h5 {
	font-weight: 500;
}
img {
	max-width: 100%;
	vertical-align: middle;
}
section {
	background-color: var(--white-alpha-25);
	border: 1px solid var(--white-alpha-40);
	border-radius: 30px;
	-webkit-border-radius: ;
	-moz-border-radius: ;
	-ms-border-radius: ;
	-o-border-radius: ;
}
a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.hidden {
	display: none !important;
}

.flex-end {
	justify-content: flex-end;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
		-webkit-transform: ;
		-moz-transform: ;
		-ms-transform: ;
		-o-transform: ;
	}
	100% {
		transform: rotate(360deg);
	}
}

/* -------------
Custom Scrollbar
---------------- */
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background-image: linear-gradient(
		to bottom right,
		var(--pink-light),
		var(--cyan-light)
	);
}
::-webkit-scrollbar-thumb {
	background-color: var(--white);
}

/* -------------
Buttons
---------------- */
button {
	font-family: inherit;
	border: none;
}

.btn {
	line-height: 1.5;
	background-color: var(--white-alpha-25);
	padding: 10px 28px;
	display: inline-block;
	border-radius: 20px;
	color: var(--main-color);
	font-weight: 500;
	font-family: inherit;
	text-transform: capitalize;
	cursor: pointer;
	user-select: none;
	position: relative;
	overflow: hidden;
	vertical-align: middle;
}

.btn::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 0%;
	background-color: var(--main-color);
	z-index: -1;
	transition: all 0.3s ease;
}
.btn:hover::before {
	width: 100%;
}
.btn:hover {
	color: var(--white);
}

/* -------------
Header
---------------- */

.header {
	position: absolute;
	left: 0;
	top: 0;
	right: 100px;
	width: 100%;
	z-index: 1;
	padding: 20px 0 0;
}

.header .nav-toggler {
	width: 50px;
	height: 50px;
	cursor: pointer;
	border-radius: 50%;
	background-color: var(--white-alpha-25);
	border: 1px solid var(--white-alpha-40);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 15px;
	z-index: 1;
}

.header .nav-toggler span {
	height: 2px;
	width: 24px;
	background-color: var(--main-color);
	position: relative;
}
.header .nav-toggler span::before,
.header .nav-toggler span::after {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: var(--main-color);
	transition: all 0.3s ease;
}
.header .nav-toggler span::before {
	left: 0;
	transform: translateY(-8px);
}

.header .nav-toggler span::after {
	right: 0;
	transform: translateY(8px);
}

.header .nav-toggler:hover span::before,
.header .nav-toggler:hover span::after {
	width: 50%;
}

.header .nav {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	padding: 35px 15px;
	overflow-y: auto;
	visibility: hidden;
}

.header.active .nav {
	visibility: visible;
}
.header .nav-inner {
	min-height: calc(100vh - 70px);
	background-color: var(--white-alpha-50);
	max-width: 1200px;
	margin: auto;
	border: 1px solid var(--white-alpha-65);
	backdrop-filter: var(--backdrop-filter-blur);
	padding: 50px 0;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: all 0.5s ease;
}

.header.active .nav-inner {
	opacity: 1;
}

.header .nav-inner ul li {
	text-align: center;
}
.header .nav-inner ul li a {
	font-size: 40px;
	text-transform: capitalize;
	color: var(--dark-blue);
	display: block;
	font-weight: 500;
	padding: 8px 15px;
	transition: color 0.3s ease;
	position: relative;
}
.header .nav-inner ul li a::before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	height: 50%;
	width: 0%;
	background-color: var(--white-alpha-25);
	z-index: -1;
	transition: all 0.5s ease;
}
.header .nav-inner ul li a:hover::before {
	width: 100%;
}

.header .nav-inner ul li a:hover {
	color: var(--main-color);
}
