/* -------------
Google Fonts
---------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* -------------
Color Variables
---------------- */
:root {
	--main-color: #e02f6b;
	--blue: #1d4ed8;
	--dark-blue: #18293c;
	--orange: #ffa500;
	--green-yello: #cddc39;
	--pink-light: #efa2b4;
	--cyan-light: #aef1ee;
	--white: #ffffff;
	--white-alpha-40: rgba(255, 255, 255, 0.4);
	--white-alpha-25: rgba(255, 255, 255, 0.25);
	--white-alpha-50: rgba(255, 255, 255, 0.5);
	--white-alpha-65: rgba(255, 255, 255, 0.65);
	--backdrop-filter-blur: blur(5px);
}

/* -------------
Global Setting
---------------- */
*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

/* -------------
Main CSS
---------------- */

body {
	min-height: 100vh;
	background-image: linear-gradient(to bottom right, #efa2b4, #aef1ee);
	background-attachment: fixed;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	font-weight: 300px;
	line-height: 1.5;
	overflow-x: hidden;
	-webkit-top-highlight-color: tranparent;
	padding: 35px 15px;
	user-select: none;
}

body::before {
	content: '';
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: 0.12;
}

.main {
	max-width: 1200px;
	margin: auto;
	transition: all 0.5s ease-in-out;
	position: relative;
}

.main.fade-out {
	opacity: 0.09;
}
.container {
	padding: 0px 40px;
	width: 100%;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.align-item-center {
	align-items: center;
}

h1,
h2 {
	font-weight: 600;
}
h3,
h4,
h5 {
	font-weight: 500;
}
img {
	max-width: 100%;
	vertical-align: middle;
}
section {
	background-color: var(--white-alpha-25);
	border: 1px solid var(--white-alpha-40);
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
}

.section-title {
	padding: 0 15px;
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
}
.sec-padding {
	padding: 80px 0;
}
.section-title h2 {
	font-size: 40px;
	text-transform: capitalize;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.hidden {
	display: none !important;
}

.flex-end {
	justify-content: flex-end;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* -------------
Custom Scrollbar
---------------- */
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background-image: linear-gradient(
		to bottom right,
		var(--pink-light),
		var(--cyan-light)
	);
}
::-webkit-scrollbar-thumb {
	background-color: var(--white);
}

/* -------------
Buttons
---------------- */
button {
	font-family: inherit;
	border: none;
}

.btn {
	line-height: 1.5;
	background-color: var(--white-alpha-25);
	padding: 10px 28px;
	display: inline-block;
	border-radius: 20px;
	color: var(--main-color);
	font-weight: 500;
	font-family: inherit;
	text-transform: capitalize;
	cursor: pointer;
	user-select: none;
	position: relative;
	overflow: hidden;
	vertical-align: middle;
}

.btn::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 0%;
	background-color: var(--main-color);
	z-index: -1;
	transition: all 0.3s ease;
}
.btn:hover::before {
	width: 100%;
}
.btn:hover {
	color: var(--white);
}

/* -------------
Header
---------------- */

.header {
	position: absolute;
	left: 0;
	top: 0;
	right: 100px;
	width: 100%;
	z-index: 1;
	padding: 20px 0 0;
}

.header .nav-toggler {
	width: 50px;
	height: 50px;
	cursor: pointer;
	border-radius: 50%;
	background-color: var(--white-alpha-25);
	border: 1px solid var(--white-alpha-40);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 15px;
	z-index: 1;
}

.header .nav-toggler span {
	height: 2px;
	width: 24px;
	background-color: var(--main-color);
	position: relative;
}
.header .nav-toggler span::before,
.header .nav-toggler span::after {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: var(--main-color);
	transition: all 0.3s ease;
}
.header .nav-toggler span::before {
	left: 0;
	transform: translateY(-8px);
}

.header .nav-toggler span::after {
	right: 0;
	transform: translateY(8px);
}

.header .nav-toggler:hover span::before,
.header .nav-toggler:hover span::after {
	width: 50%;
}

.header .nav {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	padding: 35px 15px;
	overflow-y: auto;
	visibility: hidden;
}

.header.active .nav {
	visibility: visible;
}
.header .nav-inner {
	min-height: calc(100vh - 70px);
	background-color: var(--white-alpha-50);
	max-width: 1200px;
	margin: auto;
	border: 1px solid var(--white-alpha-65);
	backdrop-filter: var(--backdrop-filter-blur);
	padding: 50px 0;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: all 0.5s ease;
}

.header.active .nav-inner {
	opacity: 1;
}

.header .nav-inner ul li {
	text-align: center;
}
.header .nav-inner ul li a {
	font-size: 40px;
	text-transform: capitalize;
	color: var(--dark-blue);
	display: block;
	font-weight: 500;
	padding: 8px 15px;
	transition: color 0.3s ease;
	position: relative;
}
.header .nav-inner ul li a::before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	height: 50%;
	width: 0%;
	background-color: var(--white-alpha-25);
	z-index: -1;
	transition: all 0.5s ease;
}
.header .nav-inner ul li a:hover::before {
	width: 100%;
}

.header .nav-inner ul li a:hover {
	color: var(--main-color);
}

/* -------------
Mobile Friendly Design
---------------- */
@media (max-width: 991px) {
	/* --- HomePage Start --- */
	.container {
		padding: 0;
	}
	.home-text,
	.home-image {
		width: 100%;
	}
	.home-text {
		text-align: center;
	}
	.home-image {
		order: -1;
	}
	.home-image .image-box {
		max-width: 300px;
	}
	.home-text .btn {
		margin: 0 7px 15px;
	}
	/* --- HomePage End --- */
	.portfolio-item {
		width: calc(50% - 30px);
	}
}
@media (max-width: 767px) {
	.contact-form,
	.contact-info,
	.about-image,
	.about-text {
		width: 100%;
	}
	.about-text {
		margin-top: 30px;
	}

	.portfolio-item {
		width: calc(100% - 30px);
	}
	.pp-inner {
		padding: 30px 15px;
	}
	.contact-info {
		order: -1;
		margin-bottom: 15px;
	}
	.contact-info-item {
		padding: 0;
	}
}
@media (max-width: 575px) {
	.section-title h2,
	.header .nav-inner ul li a {
		font-size: 35px;
	}

	.home-text h1 {
		font-size: 30px;
	}

	.home-text h2 {
		font-size: 18px;
	}
	.pp-header h3 {
		font-size: 20px;
	}
	/* .home-section{
        padding: 100px 0 80px 0;
    } */
}

/* @media(max-width:465px) {
    .header .nav-inner ul li a{
        font-size: 35px;
    }
    .home-text h1{
        font-size: 30px;
    }
    .home-text h2{
        font-size: 18px;
    }
}

@media(max-width:345px) {
    .home-section{
        padding: 80px 0 50px 0;
    }
    .header .nav-inner ul li a{
        font-size: 30px;
    }
    .home-text h1{
        font-size: 25px;
    }
    .home-text h2{
        font-size: 13px;
    }
} */
